In [1]:
import pandas
import numpy as np
from io import StringIO
dataset = pandas.read_csv("Final_dataset.csv")
print(dataset)

     project_id  developer_id  district_id  \
0          4570          2895         1014
1          2564         11572         1021
2          2560          6032         1030
3          1035           818         1022
4          4943         11066         1035
..          ...           ...          ...
596        5550         11515         1026
597        5582         20402         1039
598        5612        137634         1017
599        5653          5618         1038
600        5708        140565         1029

                              project_name_th  \
0                         อิสสระ @42 สุขุมวิท
1            เดอะ ลิ้งค์ แอดวานซ์ สุขุมวิท 50
2                เอส คอนโดมิเนียม สุขุมวิท 50
3                      เอ สเปซ มี สุขุมวิท 77
4                                DLV Thonglor
..                                        ...
596               เอส เจ เรสซิเดนซ์ บางแวก 63
597                      เคนซิงตัน พหลฯ-เกษตร
598                               แอชตัน สีลม
599  ไอดีโอ โมบิ บางซื่อ-แกรนด์ อินเตอร์เชนจ์
600                              ฟินน์ อารีย์

                         project_name_en  unittype  province_id       lat  \
0                  Issara @ 42 Sukhumvit         3           10  13.79141
1                       The Link Advance         3           10  13.65848
2                   S Condo Sukhumvit 50         3           10  13.82571
3                A Space Me Sukhumvit 77         3           10  13.70896
4                           DLV THONGLOR         3           10  13.67371
..                                   ...       ...          ...       ...
596             SJ Residence Bangwaek 63         3           10  13.75545
597              Kensington Phahol-Kaset         3           10  13.74753
598                         Ashton Silom         3           10  13.74845
599  Ideo Mobi Bangsue-Grand Interchange         3           10  13.82645
600                            Fynn Aree         3           10  13.83132

          lon  project_land_rai  ...  Unit/m      15H1      15H2      16H1  \
0    100.5488            3.6925  ...    31.0  135243.0  137731.0  144022.0
1    100.4285           16.4000  ...    24.0   34798.0   34289.0   33352.0
2    100.5453            7.5000  ...    31.0   30599.0   30343.0   31210.0
3    100.4517           26.4225  ...    31.0   46512.0   42544.0   48656.0
4    100.4586            9.5250  ...    23.0       NaN       NaN   60588.0
..        ...               ...  ...     ...       ...       ...       ...
596  100.5648            1.6650  ...     NaN       NaN       NaN       NaN
597  100.5583            1.2200  ...     NaN       NaN       NaN       NaN
598  100.5869            0.8100  ...     NaN       NaN       NaN       NaN
599  100.5917            3.8375  ...     NaN       NaN       NaN       NaN
600  100.5249            4.5050  ...     NaN   97000.0       NaN       NaN

         16H2      17H1      17H2  Bedroom  Bathroom  Price2020
0    145677.0  151650.0  152477.0      1.0       1.0   425000.0
1     33289.0   34637.0   38898.0      1.0       1.0   820000.0
2     33669.0   36639.0   34938.0      1.0       1.0   980000.0
3     46445.0   47015.0   44430.0      1.0       1.0   990000.0
4     55539.0   53325.0   53619.0      1.0       1.0   999900.0
..        ...       ...       ...      ...       ...        ...
596       NaN       NaN       NaN      NaN       NaN        NaN
597       NaN       NaN       NaN      NaN       NaN        NaN
598       NaN       NaN       NaN      NaN       NaN        NaN
599       NaN       NaN       NaN      NaN       NaN        NaN
600       NaN       NaN       NaN      NaN       NaN        NaN

[601 rows x 24 columns]

In [2]:
from sklearn.preprocessing import LabelEncoder
LE = LabelEncoder()
dataset['project_status'] = LE.fit_transform(dataset['project_status'])
dataset = pandas.get_dummies(dataset, columns = ['project_status'])
dataset

,project_id,developer_id,district_id,project_name_th,project_name_en,unittype,province_id,lat,lon,project_land_rai,...,16H1,16H2,17H1,17H2,Bedroom,Bathroom,Price2020,project_status_0,project_status_1,project_status_2
0,4570,2895,1014,อิสสระ @42 สุขุมวิท,Issara @ 42 Sukhumvit,3,10,13.79141,100.5488,3.6925,...,144022.0,145677.0,151650.0,152477.0,1.0,1.0,425000.0,0,1,0
1,2564,11572,1021,เดอะ ลิ้งค์ แอดวานซ์ สุขุมวิท 50,The Link Advance,3,10,13.65848,100.4285,16.4000,...,33352.0,33289.0,34637.0,38898.0,1.0,1.0,820000.0,1,0,0
2,2560,6032,1030,เอส คอนโดมิเนียม สุขุมวิท 50,S Condo Sukhumvit 50,3,10,13.82571,100.5453,7.5000,...,31210.0,33669.0,36639.0,34938.0,1.0,1.0,980000.0,1,0,0
3,1035,818,1022,เอ สเปซ มี สุขุมวิท 77,A Space Me Sukhumvit 77,3,10,13.70896,100.4517,26.4225,...,48656.0,46445.0,47015.0,44430.0,1.0,1.0,990000.0,0,1,0
4,4943,11066,1035,DLV Thonglor,DLV THONGLOR,3,10,13.67371,100.4586,9.5250,...,60588.0,55539.0,53325.0,53619.0,1.0,1.0,999900.0,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
596,5550,11515,1026,เอส เจ เรสซิเดนซ์ บางแวก 63,SJ Residence Bangwaek 63,3,10,13.75545,100.5648,1.6650,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0
597,5582,20402,1039,เคนซิงตัน พหลฯ-เกษตร,Kensington Phahol-Kaset,3,10,13.74753,100.5583,1.2200,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
598,5612,137634,1017,แอชตัน สีลม,Ashton Silom,3,10,13.74845,100.5869,0.8100,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
599,5653,5618,1038,ไอดีโอ โมบิ บางซื่อ-แกรนด์ อินเตอร์เชนจ์,Ideo Mobi Bangsue-Grand Interchange,3,10,13.82645,100.5917,3.8375,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1,0,0
600,5708,140565,1029,ฟินน์ อารีย์,Fynn Aree,3,10,13.83132,100.5249,4.5050,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1

In [3]:
dataset.isnull().sum()

project_id            0
developer_id          0
district_id           0
project_name_th       0
project_name_en       6
unittype              0
province_id           0
lat                   0
lon                   0
project_land_rai      0
total_unit           60
starting_price        7
created_at            0
Unit/m               65
15H1                174
15H2                165
16H1                124
16H2                 99
17H1                 88
17H2                 79
Bedroom              67
Bathroom             67
Price2020            63
project_status_0      0
project_status_1      0
project_status_2      0
dtype: int64

In [4]:
dataset['total_unit'].fillna(dataset['total_unit'].mean(), inplace = True)
dataset['starting_price'].fillna(dataset['starting_price'].mean(), inplace = True)
dataset['Unit/m'].fillna(dataset['Unit/m'].mean(), inplace = True)
dataset['15H1'].fillna(dataset['15H1'].mean(), inplace = True)
dataset['15H2'].fillna(dataset['15H2'].mean(), inplace = True)
dataset['16H1'].fillna(dataset['16H1'].mean(), inplace = True)
dataset['16H2'].fillna(dataset['16H2'].mean(), inplace = True)
dataset['17H1'].fillna(dataset['17H1'].mean(), inplace = True)
dataset['17H2'].fillna(dataset['17H2'].mean(), inplace = True)
dataset['Bedroom'].fillna(dataset['Bedroom'].mean(), inplace = True)
dataset['Bathroom'].fillna(dataset['Bathroom'].mean(), inplace = True)
dataset['Price2020'].fillna(dataset['Price2020'].mean(), inplace = True)

In [5]:
dataset.isnull().sum()

project_id          0
developer_id        0
district_id         0
project_name_th     0
project_name_en     6
unittype            0
province_id         0
lat                 0
lon                 0
project_land_rai    0
total_unit          0
starting_price      0
created_at          0
Unit/m              0
15H1                0
15H2                0
16H1                0
16H2                0
17H1                0
17H2                0
Bedroom             0
Bathroom            0
Price2020           0
project_status_0    0
project_status_1    0
project_status_2    0
dtype: int64

In [6]:
dataset.tail()

,project_id,developer_id,district_id,project_name_th,project_name_en,unittype,province_id,lat,lon,project_land_rai,...,16H1,16H2,17H1,17H2,Bedroom,Bathroom,Price2020,project_status_0,project_status_1,project_status_2
596,5550,11515,1026,เอส เจ เรสซิเดนซ์ บางแวก 63,SJ Residence Bangwaek 63,3,10,13.75545,100.5648,1.6650,...,107647.623941,107311.179602,110623.329727,113605.985709,1.061798,1.065543,5.007288e+06,0,1,0
597,5582,20402,1039,เคนซิงตัน พหลฯ-เกษตร,Kensington Phahol-Kaset,3,10,13.74753,100.5583,1.2200,...,107647.623941,107311.179602,110623.329727,113605.985709,1.061798,1.065543,5.007288e+06,1,0,0
598,5612,137634,1017,แอชตัน สีลม,Ashton Silom,3,10,13.74845,100.5869,0.8100,...,107647.623941,107311.179602,110623.329727,113605.985709,1.061798,1.065543,5.007288e+06,1,0,0
599,5653,5618,1038,ไอดีโอ โมบิ บางซื่อ-แกรนด์ อินเตอร์เชนจ์,Ideo Mobi Bangsue-Grand Interchange,3,10,13.82645,100.5917,3.8375,...,107647.623941,107311.179602,110623.329727,113605.985709,1.061798,1.065543,5.007288e+06,1,0,0
600,5708,140565,1029,ฟินน์ อารีย์,Fynn Aree,3,10,13.83132,100.5249,4.5050,...,107647.623941,107311.179602,110623.329727,113605.985709,1.061798,1.065543,5.007288e+06,0,0,1

In [7]:
dataset.drop('unittype', axis=1, inplace=True)
dataset.drop('province_id', axis=1, inplace=True)
dataset.drop('project_id', axis=1, inplace=True)
dataset.drop('project_name_th', axis=1, inplace=True)
dataset.drop('project_name_en', axis=1, inplace=True)
dataset.head()

,developer_id,district_id,lat,lon,project_land_rai,total_unit,starting_price,created_at,Unit/m,15H1,...,16H1,16H2,17H1,17H2,Bedroom,Bathroom,Price2020,project_status_0,project_status_1,project_status_2
0,2895,1014,13.79141,100.5488,3.6925,620.0,2900000.0,2014,31.0,135243.000000,...,144022.0,145677.0,151650.0,152477.0,1.0,1.0,425000.0,0,1,0
1,11572,1021,13.65848,100.4285,16.4000,2048.0,990000.0,2011,24.0,34798.000000,...,33352.0,33289.0,34637.0,38898.0,1.0,1.0,820000.0,1,0,0
2,6032,1030,13.82571,100.5453,7.5000,1031.0,750000.0,2011,31.0,30599.000000,...,31210.0,33669.0,36639.0,34938.0,1.0,1.0,980000.0,1,0,0
3,818,1022,13.70896,100.4517,26.4225,735.0,1590000.0,2011,31.0,46512.000000,...,48656.0,46445.0,47015.0,44430.0,1.0,1.0,990000.0,0,1,0
4,11066,1035,13.67371,100.4586,9.5250,681.0,1950000.0,2014,23.0,98710.283372,...,60588.0,55539.0,53325.0,53619.0,1.0,1.0,999900.0,1,0,0

In [8]:
features = dataset.drop('Price2020' , axis=1)
labels = dataset['Price2020'].values

In [9]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split  \
(features, labels, test_size=0.2, random_state=1)

In [10]:
from sklearn.neighbors import KNeighborsRegressor
KNR = KNeighborsRegressor(3)
KNR.fit(X_train,y_train)
y_pred1 = KNR.predict(X_test)

In [11]:
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
print(r2_score(y_test,y_pred1))
print(mean_squared_error(y_test,y_pred1,squared=False))

0.5784226550094879
3080629.9929344887

In [12]:
from sklearn.tree import DecisionTreeRegressor
DTR = DecisionTreeRegressor()
DTR.fit(X_train,y_train)
y_pred2 = DTR.predict(X_test)

In [13]:
print(r2_score(y_test,y_pred2))
print(mean_squared_error(y_test,y_pred2,squared=False))

0.39513094091926015
3690044.4014787897

In [14]:
from sklearn.tree import ExtraTreeRegressor
extra_tree = ExtraTreeRegressor()
extra_tree.fit(X_train, y_train)
y_pred3=extra_tree.predict(X_test)

In [15]:
print(r2_score(y_test,y_pred3))
print(mean_squared_error(y_test,y_pred3,squared=False))

0.5357694685744356
3232717.5205516103

In [17]:
from sklearn.model_selection import cross_val_score